.wp-block-button .wp-block-button__link,
.wp-block-button.is-style-fill .wp-block-button__link {
  box-shadow: inset 0 4px 2px #0d48a141, 0 0px 0px #0d48a141;
}
.wp-block-button .wp-block-button__link:hover,
.wp-block-button.is-style-fill .wp-block-button__link:hover {
  background-color: var(--wp--preset--color--hover);
  border-color: var(--wp--preset--color--hover);
  color: inherit;
  transform: translateY(-2px);
  box-shadow: 0 6px 4px #0a7b5faa, 0 4px 0 #0a7b5faa;
}

.wp-block-button.is-style-outline .wp-block-button__link {
  border-color: var(--wp--preset--color--primary);
  color: var(--wp--preset--color--primary);
  box-shadow: inset 0 4px 2px #0d48a161, 0 0px 0px #0d48a161;
}
.wp-block-button.is-style-outline .wp-block-button__link:hover {
  background-color: var(--wp--preset--color--primary);
  color: var(--wp--preset--color--contrastcolor);
  transform: translateY(-2px);
  box-shadow: 0 6px 4px #0d48a191, 0 4px 0 #0d47a191;
}

.wp-block-button.is-style-negative .wp-block-button__link {
  background-color: var(--wp--preset--color--hover);
  border-color: var(--wp--preset--color--hover);
  color: inherit;
  box-shadow: inset 0 4px 2px #0d48a161, 0 0px 0px #0d48a161;
}
.wp-block-button.is-style-negative .wp-block-button__link:hover {
  background-color: var(--wp--preset--color--button);
  border-color: var(--wp--preset--color--button);
  transform: translateY(-2px);
  box-shadow: 0 6px 4px #0d48a191, 0 4px 0 #0d47a191;
}
